@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s linear;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
a {
  color: #0d0d0d;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.section__title {
  width: 534px;
  font-size: 55px;
  font-weight: 400;
  line-height: 61.99px;
  letter-spacing: 2.93px;
}
.section__p {
  width: 585px;
  font-size: 22px;
  font-weight: 400;
  line-height: 34.99px;
  letter-spacing: 0.77px;
}
.section__btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}
.section__btn:hover {
  opacity: 80%;
  text-decoration: underline;
}
/* Header section styles */
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 400px;
  padding: 20px 0;
}
.links {
  display: flex;
  align-items: center;
  gap: 50px;
}
/* Home section styles */
.home__wrapper {
  padding: 80px 0;
  margin-left: 320px;
}
.home__wrapper > .home__title {
  margin-left: 25px;
  padding: 60px 0;
  text-align: center;
}
.span {
  color: #7e5fff;
}
.home__p {
  text-align: center;
}
/* Market section styles */
.market {
  background-color: #0d0d0d;
}
.market__title {
  padding: 80px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.23px;
  color: #fff;
}
.market__madium {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
.market__bottom--p {
  padding: 80px 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 400;
  letter-spacing: 0.23px;
}
/* Future section styles */
.future__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
}
.future__left--title {
  width: 358px;
}
.future__left--p {
  width: 409px;
  padding: 30px 0;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* Build section styles */
.build {
  background-color: #f3f3f3;
  padding: 80px 0;
}
.build__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.build__left--p {
  width: 392px;
  padding: 30px 0;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* Activate section styles */
.activate__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
}
.activate__left--p {
  width: 392px;
  padding: 30px 0;
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
